[submodule "drivers/kernelsu"]
	path = drivers/kernelsu
	url = https://github.com/RanggaWbp/ReSukiSU.git
[submodule "nomount"]
	path = nomount
	url = https://github.com/maxsteeel/nomount
[submodule "Baseband-guard"]
	path = Baseband-guard
	url = https://github.com/vc-teahouse/Baseband-guard
